/* Things that all buttons use */

.button-general {
    border: 1px solid #999999;
}

.button-general:hover {
    opacity: 0.8;
    cursor: pointer;
}

.square-button {
    border-radius: 20px;
}


/* ------------- BACK BUTTON --------------------- */


/* Styling for back button */

.back-button {
    color: white;
    background-color: #484848;
    height: 80px;
    width: 250px;
    font-size: 36px;
}


/* ------------ SQUARE BUTTON ---------------------- */

.square-button-text {
    font-size: 36px;
    font-weight: 500;
}


/* ------------ SAVE BUTTON ----------------------- */

.save-button {
    width: 520px;
    height: 100px;
    background-color: #98FF74;
    margin: auto;
}


/* ------------- CHANGE PROFILE BUTTON ------------ */


/* Styling for each of the 4 buttons: change name, number, picture and password */

.change-profile-button {
    color: black;
    background-color: #94E5FF;
    height: 187px;
    width: 270px;
}


/* -------------- DELETE ACCOUNT BUTTON -------------- */

.delete-account-button {
    height: 80px;
    width: 250px;
    display: flex;
    font-size: 30px;
    border-radius: 20px;
    color: white;
    background-color: #FB0000;
}