/* Things that all buttons use */

.button-general {
    border: 1px solid #999999;
}

.button-general:hover {
    opacity: 0.8;
    cursor: pointer;
}

.square-button {
    border-radius: 20px;
}


/* ------------- BACK BUTTON --------------------- */


/* Styling for back button */

.back-button {
    color: white;
    background-color: #484848;
    height: 80px;
    width: 250px;
    font-size: 36px;
}


/* ------------ SQUARE BUTTON ---------------------- */

.square-button-text {
    font-size: 36px;
    font-weight: 500;
}


/* ------------ SAVE BUTTON ----------------------- */

.save-button {
    width: 520px;
    height: 100px;
    background-color: #98FF74;
    margin: auto;
}


/* ------------- CHANGE PROFILE BUTTON ------------ */


/* Styling for each of the 4 buttons: change name, number, picture and password */

.change-profile-button {
    color: black;
    background-color: #94E5FF;
    height: 187px;
    width: 270px;
}


/* -------------- DELETE ACCOUNT BUTTON -------------- */

.delete-account-button {
    height: 80px;
    width: 250px;
    display: flex;
    font-size: 30px;
    border-radius: 20px;
    color: white;
    background-color: #FB0000;
}


/* ------------- ADD, REMOVE CONTACT BUTTON -------------- */

.add-contact-button,
.remove-contact-button {
    border-radius: 20px;
    border: 1px solid darkgrey;
    font-size: 18px;
    width: 150px;
    height: 80px;
}

.add-contact-button:hover,
.remove-contact-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.add-contact-button {
    background-color: var(--color-menuButton);
    margin-right: 10px;
}

.remove-contact-button {
    background-color: var(--color-cancel);
    color: white;
}


/* -------------- LOG OUT BUTTON -------------- */

.log-out-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    height: 100px;
    background-color: rgb(230, 132, 87);
    color: white;
    border: 0;
}

.log-out-button:hover {
    background-color: rgb(230, 132, 87, 0.8);
    cursor: pointer;
}