.call-container {
    display:flex;
    flex-flow: row wrap;
    
}

#call-container {
    min-height: 100vh;
}

.video-container {
    width: 100%;
}

/* container that displays the remote stream */
.remote-video-container {
    /* background-color: red; */
    height: 80vh;
    width: 50vw;
    margin:auto;
    position: relative;
}

.function-bar-container {
    position: relative;
    /*background-color: yellow;  temp */
    height: 19vh;
    width: 100vw;
    margin:auto;
    text-align: center;
    padding-top: 1vh;
}

.function-button-container {
    width: 30vw;
    height: 17vh;
    margin:auto;
    /*border-style: solid;
    border-color: black;*/
    text-align:center;
    word-wrap: break-word;
    display: table;
}

.function-button-container h2 {
    font-size: 1.5vw;
    font-weight: bold;
}


.function-button {
  height: 7vw;
  width: 7vw;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  color: white;
  font-size: 0.8vw;
}

.end-call-button {
  height: 7vw;
  width: 7vw;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  color: white;
  font-size: 0.7vw;
}


ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom: 1;
    *display:inline;
    /* this fix is needed for IE7- */
}

.right-side-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5em;
}

.local-video-container {
    background-color: black; 
    height: 30vh;
    width: 14vw;
    float:right;
    margin-top: 3em;
    /* margin-right: 4.7em; */
    border-radius: 20%;
}

/* Pop up on the right side that displays if mic or cam is off */
.function-off-container{
    height: 5vh;
    width: 14vw;
    float: right;
    margin-top: 1em;
    /* margin-right: 3em; */
    background-color: red;
    clear: right;
    font-size: 1vw;
    text-align: center;
}




