.call-container {
    display:flex;
    flex-flow: row wrap;
}

#call-container {
    min-height: 100vh;
}

.video-container {
    width: 100%;
}

/* container that displays the remote stream */
.remote-video-container {
    height: 80vh;
    width: 65vw;
    margin:auto;
    position: relative;
    border: none;
}

.function-bar-container {
    position: relative;
    /*background-color: yellow;  temp */
    height: 19vh;
    width: 100vw;
    margin:auto;
    text-align: center;
    padding-top: 1vh;
}

.callView-button-container {
    width: 30vw;
    height: 17vh;
    margin:auto;
    /*border-style: solid;
    border-color: black;*/
    text-align:center;
    word-wrap: break-word;
    display: table;
}

.callView-button-container h2 {
    font-size: 1.5vw;
    font-weight: bold;
}

.reaction-container {
    height: 200px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 100;
}

.reaction {
    align-self: flex-end;
    width: fit-content;
    margin-top: 1em;
    background-color: white;
    font-size: 2rem;
    text-align: center;
    color: black;
    border-radius: 1vw;
    padding: 5px 10px;
    font-weight: 500;
    z-index: 100;
}

.callView-button {
  height: 7vw;
  width: 7vw;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  color: white;
  font-size: 0.8vw;
}

.mic-muted-text {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    z-index: 100;
}



ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom: 1;
    *display:inline;
    /* this fix is needed for IE7- */
}

.right-side-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
}

.local-video-container {
    height: 15vw;
    width: 15vw;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 3em;
}

.local-video-container video {
    border-radius: 20%;
}

/* Pop up on the right side that displays if mic or cam is off */
.function-off-container{
    height: 2vw;
    margin-top: 1em;
    background-color:#484848;
    clear: right;
    font-size: 1.2vw;
    text-align: center;
    color:white;
    border-radius: 1vw;
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-weight: bold;
}

.reaction-buttons-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    left: calc(-21.5vh);
    z-index: 101;
    transition: 350ms;
}

.reaction-buttons-container.active {
    left: 0;
  }

.slider {
    width: 23vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: -100%;
    padding: 5px;
    z-index: 102;
  }

  .open-reactions-button {
    border: 1px solid var(--color-stroke);
    font-weight: 500;
    font-family: Roboto;
    height: 100px;
    width: 35px;
    background-color: gray;
    z-index: 100;
    transition: 350ms;
  }

  .opened-reactions-button {
    border: 1px solid var(--color-stroke);
    font-weight: 500;
    font-family: Roboto;
    height: 100px;
    width: 35px;
    background-color: gray;
    z-index: 100;
    transition: 350ms;
}

  .reaction-button {
    border: 1px solid var(--color-stroke);
    font-weight: 500;
    font-family: Roboto;
    width: 100%;
    padding: 5px 5px;
    margin-top: 40px;
    font-size: 26px;
    border-radius: 12px;
    z-index: 100;
    background-color: var(--color-menuButton);
  }

  .reaction-button:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .reaction-button.active:hover {
    opacity: 1;
    cursor: default;
  }


  .reaction-button:first-child {
      margin-top: 0;
  }

  .open-reactions-button:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .opened-reactions-button:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .rotate-arrow-image {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: 450ms;
  }

  .rotate-back-arrow-image {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    transition: 450ms;
  }


/* --------------- CALL POPUP VIEW STUFF ----------------- */

.call-popup-shadow {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.call-popup-container {
    background-color: white;
    width: 70%;
    height: fit-content;
    border-radius: 25px;
    padding: 35px;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
}

.call-popup-container h3 {
    font-size: 50px;
    font-weight: bold;
}

.call-popup-container h4 {
    margin-top: 10vh;
    font-size: 30px;
    font-weight: bold;
}

.call-popup-flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-popup-flexbox-container h3 {
    margin-top: 0;
}

.caller-profile-picture {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.caller-name-text {
    text-align: center;
    font-weight: 500;
}

.caller-name-text span {
    font-weight: normal;
}

.incoming-call-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.incoming-call-button-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-text{
 color: var(--color-call);   
}

.decline-text{
    color: var(--color-cancel);   
}


/* --------------- CALLING POPUP VIEW STUFF ----------------- */

.calling-popup-flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calling-person-container {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calling-vertical-flexbox-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

.calling-text {
    display: flex;
}

.loading-dots-gif {
    width: 85px;
    height: auto;
}

