:root {
    --color-proceed: #98FF74;
    --color-menuButton: #94E5FF;
    --color-back: #484848;
    --color-contactCard: #DFECFF;
    --color-call: #00830D;
    --color-cancel: #FB0000;
    --color-warning: #F67E4B;
    --color-stroke: #999999;
}