.contact-card-container,
.contact-card-container-big {
    background-color: var(--color-contactCard);
    border-radius: 20px;
    border: 1px solid darkgray;
}

.contact-card-container {
    padding: 10px;
    width: 200px;
    margin-bottom: 25px;
    position: relative;
}

.contact-card-container-big {
    padding: 20px;
    width: 230px;
}

.contact-card-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact-card-profile-picture {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.contact-name {
    font-size: 24px;
    margin: 10px 0;
}

.contact-name-big {
    font-size: 34px;
    margin: 20px 0;
}

.button-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-contact-button {
    background-color: #999999;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: auto;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 1px 1.5px 1px black;
} 

.delete-contact-button:hover {
    cursor: pointer;
    background-color: var(--color-cancel);
}

.contact-name span,
.contact-name-big span {
    font-weight: bold;
}