.create-header-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    margin: 30px auto 0 auto;
    justify-content: flex-start;
}


/* "Min profil" headline */

.create-header {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    align-self: center;
    flex-basis: calc(100%/3);
}

.create-description-text-container {
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.create-description-text {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.create-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px;
}

.create-input-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.create-pic-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-pic-content {
    display: flex;
    width: min-content;
}

.create-profile-pic {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.pic-button-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
}

.create-save-button-container {
    margin-bottom: 70px;
}