/* Stuff for all popups */

/* Stuff for Add Contact Popup */ 

.content-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 200px; /* Probably needs to be changed to make responsive, value set for testing purposes atm */
}

.number-input-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.search-contact-button{
    height: 20vh;
    width: 50%;
    background-color: var(--color-proceed);
}

/* Stuff for Delete Contact Popup */ 
.cancel-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.cancel-row img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 10vh;
}

.yes-button {
    background-color: var(--color-proceed);
    height: 150px;
    width: 215px;
    text-align: center;
    padding-top: 0.4em;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15%;
    box-shadow: 0px 3px 4px grey;
}

.no-button {
    background-color: var(--color-cancel);
    height: 150px;
    width: 215px;
    text-align: center;
    padding-top: 0.4em;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15%;
    box-shadow: 0px 3px 4px grey;
}

.yes-button:hover{
    cursor:pointer;
    opacity: 0.8;
}

.no-button:hover{
    cursor:pointer;
    opacity: 0.8;
}