/* Stuff for all popups */

.full-page-popup-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.cancel-button {
    float: right;
    z-index:10;
}

.cancel-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.popup-middle-sized-text {
    font-size: 36px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.big-bottom-buffer {
    margin-bottom: 85px;
}

.left-buffer{
    margin-left: 40px;
}

.top-buffer {
    margin-top: 40px;
}

.right-buffer {
    margin-right: 40px;
}

.w-400{
    width: 400px
}

/* Stuff for Add Contact Popup */ 

.content-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    height: 500px; /* Probably needs to be changed to make responsive, value set for testing purposes atm */
}

.number-input-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.handle-contact-button {
    margin-top: 20px;
}
.handle-contact-button:hover{
    opacity: 0.8;
}

.contact-found-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact-found-info-col {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
}

.popup-error-message {
    color: var(--color-error);
    font-weight: bold;
    font-size: 48px;
    margin-top: 20px;
}

.found-contact-name {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.found-contact-number {
    font-size: 48px;
}

@media only screen and (max-width: 1160px) {
    .number-input-row {
        margin-top: 30px;
        justify-content: center;
    }

    .popup-middle-sized-text {
        margin-top: 10px;
    }

    .contact-found-row{
        flex-flow: column wrap;
        justify-content: center;
    }

    .contact-found-info-col{
        justify-content: center;
        align-items: center;
    }

    .content-column{
        height: 600px;
    }
  }

/* Stuff for Delete Contact Popup */ 

.button-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 10vh;
}

.yes-button {
    background-color: var(--color-proceed);
    height: 150px;
    width: 215px;
    text-align: center;
    padding-top: 0.4em;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15%;
    box-shadow: 0px 3px 4px grey;
}

.no-button {
    background-color: var(--color-cancel);
    height: 150px;
    width: 215px;
    text-align: center;
    padding-top: 0.4em;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15%;
    box-shadow: 0px 3px 4px grey;
}

.yes-button:hover{
    cursor:pointer;
    opacity: 0.8;
}

.no-button:hover{
    cursor:pointer;
    opacity: 0.8;
}

/* Stuff for contact popup */ 

.cancel-button-contact-popup {
    float: right;
    z-index:10;
    width: 40px;
    height: 40px
}

.cancel-button-contact-popup:hover {
    cursor: pointer;
    opacity: 0.6;
}

.left-buffer-contact-popup{
    margin-left: 40px;
}

.contact-card-profile-picture-big {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.contact-card-container-big-contact-popup {
    padding: 20px;
    width: 358px;
    height: 568px;
    background-color: var(--color-contactCard);
    border-radius: 20px;
    border: 1px solid darkgray;
}

.call-button-big-contact-popup {
    width: 300px;
    height: 160px;
    background-color: var(--color-call);
    color: white;
    font-size: 44px;
    letter-spacing: 1px;
}

.call-button-big-contact-popup img {
    width: 50%;
    height: 50%;
}
