.change-name {
    background-image: url('/client/src/icons/change-name.svg');
    height: 7vw;
    width: 7vw;
}

.change-number {
    height: 7vw;
    width: 7vw;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-size: 0.8vw;
}
.change-picture {
    height: 7vw;
    width: 7vw;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-size: 0.8vw;
}
.change-password {
    height: 7vw;
    width: 7vw;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-size: 0.8vw;
}