.change-name {
    background-image: url('/src/icons/change-name.svg');
    height: 187px;
    width: 270px;
    border-radius: 20px;
    border-color: rgba(111,111,111,0.2);
}

.change-number {
    background-image: url('/src/icons/change-number.svg');
    height: 187px;
    width: 270px;
    border-radius: 20px;
    border-color: rgba(111,111,111,0.2);
}

.change-picture {
    background-image: url('/src/icons/change-picture.svg');
    height: 187px;
    width: 270px;
    border-radius: 20px;
    border-color: rgba(111,111,111,0.2);
}

.change-password {
    background-image: url('/src/icons/change-password.svg');
    height: 187px;
    width: 270px;
    border-radius: 20px;
    border-color: rgba(111,111,111,0.2);
}
